.FooterContainer{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.FlexBlock{
	display: flex;
	justify-content: space-between;
}
.Column{
	display: flex;
	flex-direction: column;
}
.ColumnItem:not(:last-child){
	margin-bottom: 10px;
}