.Row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid #15151515;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	margin-bottom: 35px;
}